.navigation-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 100px;
  background-color: #5C6047;
}

.navigation-bar {
  width: 870px;
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 90px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: Inter-Thin;
  font-size: 24px;
}

nav a:hover {
  color: #0E3152;
}


.navigation-bar-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #5C6047;
  padding: 20px;
  z-index: 1000;
  position: absolute;
  border-radius: 7px;
  box-shadow: inset 5px 5px 5px #d2d2d280;
}

.menu-icon {
  font-size: 30px;
  color: #ffffff;
}

@media (min-width: 1201px) {
  .menu-mobile {
    display: none;
  }
}

@media (max-width: 1200px) {

  .navigation-bar-container {
    padding: 0 20px;
    height: 80px;
  }
  .navigation-bar {
    display: none;
  }
  .avatar {
    width: 60px;
  }
}



@media (min-width: 2000px) {
  .navigation-bar-container {
    padding: 0 400px;
  }
}