.navigation-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 100px;
  background-color: #ffffff;
}

.navigation-bar {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 90px;
  cursor: pointer;
}

.navigation-bar-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #e1e1e1;
  padding: 10px 20px;
  z-index: 1000;
  position: absolute;
  border-radius: 7px;
  box-shadow:  5px 5px 5px #000000;
}

.navigation-bar-mobile a {
  color: #001938;
  text-decoration: none;
  font-family: Inter-Regular;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px;
}

.navigation-bar-mobile a:hover {
  background: linear-gradient(to right, #001938 40%, #1f6eb8 100%);
  color: #ffffff;
  border-radius: 5px;
}

.menu-icon {
  font-size: 30px;
  color: #001938;
  cursor: pointer;
}

@media screen and (min-width: 1201px) {
  .menu-mobile {
    display: none;
  }
}

@media screen and (max-width: 1200px) {

  .navigation-bar-container {
    padding: 0 20px;
    height: 80px;
  }
  .navigation-bar {
    display: none;
  }
  .avatar {
    width: 60px;
  }
}

@media screen and (min-width: 1600px) {
  .navigation-bar-container {
    padding: 0 300px;
  }

  .navigation-bar {
    width: 70%;
  }
}