.skills-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}

.skills-title {
    font-family: Inter-Medium;
    font-size: 48px;
    color: #0E3152;
    width: 375px;
    border-bottom: 2px solid #5C6047;
    padding-left: 100px;
    margin-left: -100px;
    margin-bottom: 30px;
}

.skills-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    margin-bottom: -20px;
}

.skillsOne {
    font-family: Inter-Bold;
    font-size: 48px;
    color: #0E3152;
}

.skillsTwo {
    font-family: Inter-ExtraLigh;
    font-size: 48px;
    color: #0E3152;
}

@media screen and (max-width: 1200px) {
    .skills-container {
        margin: 0 20px;
    }

    .skills-title {
        padding-left: 0px;
        margin-left: 0px;
        width: 275px;
        font-size: 36px;
        margin-bottom: 0px;
    }
   
    .skills-subcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills-container {
        margin-top: 30px;
    }

    .skillsOne {
        font-size: 36px;
        margin-bottom: -30px;
    }
    
    .skillsTwo {
        font-size: 36px;
        margin-bottom: -30px;
    }
}

@media screen and (min-width: 1600px) {
    .skills-container {
        margin-left: 300px;
        margin-right: 300px;
    } 
    
    .skills-title {
        padding-left: 0px;
        margin-left: 0px;
    }
    
}

