* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  line-height: 1.6;
  min-height: 100vh;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
}

@font-face {
  font-family: 'Inter-ExtraLigh';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/public/font/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/public/font/Inter-ExtraBold.ttf');
}
@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/public/font/Inter-Bold.ttf');
}
@font-face {
  font-family: 'Inter-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/public/font/Inter-Medium.ttf');
}
@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/public/font/Inter-Regular.ttf');
}
@font-face {
  font-family: 'Inter-Light';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/public/font/Inter-Light.ttf');
}
@font-face {
  font-family: 'Inter-Thin';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/public/font/Inter-Thin.ttf');
}