.about-container {
    margin-top: -260px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
    border-bottom: 2px solid #5C6047;
}

.about-subcontainer-one {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.about-subcontainer-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.about-subcontainer-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.about-title {
    font-family: Inter-Light;
    font-size: 48px;
    color: #0E3152;
    margin-bottom: 30px;
}

.about-text {
    color: #0E3152;
    font-family: Inter-Light;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}



.img-desktop {
    margin-right: 20px;
}
.img-hobbie {
    margin-left: 20px;
    margin-top: 20px;
}


@media screen and (min-width: 1200px) {
    .img-mobile {
        display: none;
    }
    .img-profile {
        margin-left: 20px;
    }
}

@media screen and (min-width: 1490px) {
    .about-container {
        margin-top: -360px;
    }
}
@media screen and (min-width: 1500px) and (max-width: 1600px) {
    .about-container {
        margin-top: -20%;
    }
}

@media screen and (min-width: 1600px){
    .about-container {
        margin-top: -11%;
    }
}


@media screen and (max-width: 1200px) {

    .about-container{
        margin: 20px 20px 0 20px;

    }
    .about-text {
        width: 100%;
        font-size: 20px;
    }

    .about-image {
        width: 300px;
        margin-top: 20px;
    }

    .img-hobbie {
        margin-left: 0;
    }

    .about-subcontainer-one,  .about-subcontainer-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .about-subcontainer-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .img-mobile {
        margin-bottom: 20px;
    }

    .about-title {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .img-desktop {
        display: none;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .about-container {
        margin-left: 300px;
        margin-right: 300px;
    }

    .about-container {
        margin-top: -310px;

    }
    
}