.about-container {
    margin-top: -320px;
    padding: 50px 100px;
    border-bottom: 2px solid #5C6047;
}

.about-subcontainer-one {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.about-subcontainer-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.about-subcontainer-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.about-title {
    font-family: Inter-Light;
    font-size: 48px;
    color: #0E3152;
    margin-bottom: 30px;
}

.about-text {
    color: #0E3152;
    font-family: Inter-Light;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    width: 80%;
}

.img-desktop {
    margin-right: 20px;
}
.img-hobbie {
    margin-left: 20px;
    margin-top: 20px;
}


@media screen and (min-width: 1199px) {
    .img-mobile {
        display: none;
    }
}

@media screen and (min-width: 1490px) {
    .about-container {
        margin-top: -360px;
    }
}
@media screen and (min-width: 1600px) and (max-width: 2000px) {
    .about-container {
        margin-top: -15%;
    }
}


@media screen and (max-width: 1200px) {

    .about-container{
        padding: 20px 20px 50px 20px;
        margin-top: 0px;
    }
    .about-text {
        width: 100%;
        font-size: 20px;
    }

    .about-image {
        width: 300px;
        margin-top: 20px;
    }

    .img-hobbie {
        margin-left: 0;
    }

    .about-subcontainer-one,  .about-subcontainer-three {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .about-subcontainer-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .img-mobile {
        margin-bottom: 20px;
    }

    .about-title {
        font-size: 38px;
        margin-bottom: 10px;
    }

    .img-desktop {
        display: none;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .about-container {
        padding: 50px 400px;
    }
    
}