
.training-container {
    margin-top: 30px;
    padding-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 2px solid #5C6047;
}
.training-title{
    font-family: Inter-Light;
    font-size: 48px;
    color: #0E3152;
}

.training-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
}

.training-small-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.training-institution {
    font-family: Inter-Medium;
    font-size: 26px;
    color: #0E3152;
}

.training-course {
    font-family: Inter-Light;
    font-size: 20px;
    color: #0E3152;
    margin-top: -8px;
    
}
.training-period {
    font-family: Inter-ExtraLigh;
    font-size: 20px;
    color: #0E3152;
    margin-top: -8px;
}

.training-image {
    width: 40%;
}

.training-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}