.experience-container {
    margin-top: 30px;
    padding-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;

}

.experience-title {
    font-family: Inter-Regular;
    font-size: 48px;
    color: #001938;

    border-bottom: 2px solid #5C6047;
    margin-left: -100px;
    padding-left: 100px;
    width: 370px;
}

.experience-container-data {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.experience-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.experience-item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.experience-company {
    font-family: Inter-Medium;
    font-size: 26px;
    color: #001938;
}

.experience-position {
    font-family: Inter-Light;
    font-size: 20px;
    color: #001938;
    margin-top: -12px;
}

.experience-text {
    color: #001938;
    font-family: Inter-Light;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-top: -20px;
}

.experience-small-image {
    width: 60px;
    margin-right: 20px;
}

.image-company {
    width: 150px;
}

@media screen and (max-width: 1200px){
    .experience-container {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .experience-company {
        font-size: 24px;
        line-height: 22px;
    }

    .experience-position {
        line-height: 20px;
        margin-top: 5px;
        font-size: 20px;
    }

    .experience-title {
        margin-left: 0px;
        padding-left: 0px;
        width: 270px;
        font-size: 36px;
    }
    
}

@media screen and (min-width: 1600px){
    .experience-container {
        margin-left: 300px;
        margin-right: 300px;
    }

    .experience-title {
        margin-left: 0px;
        padding-left: 0px;
        width: 370px;
    }
}