.skillsFrame-container {
    width: 40%;

}


.skill-title {
    font-family: Inter-Regular;
    font-size: 20px;
    color: #0E3152;
    margin-top: 30px;
    animation: lights 10s 750ms linear infinite;
}

.skill-text {
    font-family: Inter-Light;
    font-size: 20px;
    color: #0E3152;
    margin-top: 10px;
    text-align: justify;
}

@media screen and (max-width: 1200px) {

  .skill-frame {
    padding: 0 0px;
}
  .skillsFrame-container {
    width: 100%;
    margin-bottom: 30px;
}

}


@keyframes lights {
    0% {
        color: #0E3152;
        text-shadow:
          0 0 0.8em rgba(92, 96, 71, 0.16),  /* Verde oliva mais suave */
          0 0 0.1em rgba(92, 96, 71, 0.24),
          -0.8em -0.1em 0.4em rgba(14, 49, 82, 0),  /* Azul escuro */
          0.8em 0.1em 0.4em rgba(92, 96, 71, 0);
      }
      
      25% { 
        color: #5C6047;
        text-shadow:
          0 0 0.8em rgba(14, 49, 82, 0.4),
          0 0 0.1em rgba(14, 49, 82, 0.4),
          -0.4em -0.1em 0.2em rgba(92, 96, 71, 0.16),
          0.4em 0.1em 0.2em rgba(14, 49, 82, 0.32);
      }
      
      50% { 
        color: #0E3152;
        text-shadow:
          0 0 0.8em rgba(92, 96, 71, 0.4),
          0 0 0.1em rgba(92, 96, 71, 0.4),
          -0.2em -0.1em 0.1em rgba(14, 49, 82, 0.16),
          0.2em 0.1em 0.1em rgba(92, 96, 71, 0.32);
      }
      
      75% {
        color: #5C6047;
        text-shadow:
          0 0 0.8em rgba(14, 49, 82, 0.4),
          0 0 0.1em rgba(14, 49, 82, 0.4),
          0.4em -0.1em 0.2em rgba(92, 96, 71, 0.16),
          -0.4em 0.1em 0.2em rgba(14, 49, 82, 0.32);
      }
      
      100% {
        color: #0E3152;
        text-shadow:
          0 0 0.8em rgba(92, 96, 71, 0.16),
          0 0 0.1em rgba(92, 96, 71, 0.24),
          0.8em -0.1em 0.4em rgba(14, 49, 82, 0),
          -0.8em 0.1em 0.4em rgba(92, 96, 71, 0);
      }
}
