.container-profile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/src/assets/public/image/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subcontainer-profile {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.half {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: clip-path 2s ease-in-out;
}

.left {
  background-image: url('/src/assets/public/image/met1.png');
  clip-path: inset(0 50% 0 0);
  z-index: 1;
}

.right {
  background-image: url('/src/assets/public/image/met2.png');
  clip-path: inset(0 0 0 50%);
  z-index: 1;
}

.left.active,
.right.active {
  clip-path: inset(0 0 0 0);
  z-index: 2;
  cursor: pointer;
}

/* Texto */
.matrix-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.matrix-text {
  color: #ffffff;
  font-size: 60px;
  font-family: Inter-Thin;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}

.matrix-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: glitch 7s infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-2px, -2px);
  color: #ffffff94;
}

@keyframes glitch {
  0%, 100% {
      clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
      transform: translate(0);
  }
  33% {
      clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
      transform: translate(-5px, -5px);
  }
  66% {
      clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
      transform: translate(5px, 5px);
  }
}

/* 📱 Media Queries */

@media (max-width: 768px) {
  .subcontainer-profile {
      width: 90%;
      height: 300px;
  }

  .matrix-text {
      font-size: 40px;
  }
}

@media (max-width: 480px) {
  .subcontainer-profile {
      width: 100%;
      height: 250px;
  }

  .matrix-text {
      font-size: 28px;
      text-align: center;
      padding: 0 10px;
  }
}
